.env
.env.*
redis-data
redis-stack.conf
node_modules
mysql
redis.conf
seeds
.docker
Logs/*
!Logs/.gitkeep
public*
!api/public/
!api/public/**
provisionar-server-20260924-001610.zip
build/
dist/
*.sql
*.pem
*.key
*.crt
*.p12
*.log
.venv/
.pytest_cache/
assinaturaaddon-82554413b323.json
client_secret_408512212883-t790lt434e9pmsg35sg837rsrj45thob.apps.googleusercontent.com.json
client_secret_18198273850-2hqf8cbei4vliss8nrf36onqd7v94k54.apps.googleusercontent.com.json
smtp-site-404012-0ec7fd0b1e79.json
